.block-badge {
  padding: 4px 12px;
  height: 28px;
  width: max-content;
  border-radius: 4px;
  font-size: 12px;
}

.badge {
  line-height: normal;
  padding: 4px;
  margin-right: 8px;

  &-secondary {
    background-color: #9aa7aa;
  }

  &-submitted {
    background-color: #f5a623;
  }

  &-approved {
    background-color: #4bba79;
  }
}

.badge.date {
  color: #fff;
  padding: 6px 11px;
  height: 28px;
}
