.btn {
  width: 137px;
  height: 44px;
  letter-spacing: 1px;
  font-size: 12px;
  outline: none;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.btn-ghost-secondary:focus,
.btn-ghost-secondary:active:focus,
.btn-ghost-secondary.active:focus {
  box-shadow: none;
} 

.btn-primary,
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #4bba79;
  border: #4bba79 1px solid;
  box-shadow: 0 2px 8px 0 rgba(75, 186, 121, 0.5), 0 1px 2px 0 rgba(75, 186, 121, 0.25);

  & svg {
    opacity: 0.5;
  }
}

.btn-primary:hover {
  box-shadow: 0 4px 16px 0 rgba(75, 186, 121, 0.5), 0 2px 4px 0 rgba(75, 186, 121, 0.25);
  background-color: #54be80;
}

.btn-primary:focus {
  outline: none;
}

.btn-light,
.btn-light.disabled,
.btn-light:hover,
.btn-light:focus {
  border: solid 1px #ccd3d4;
}

.btn-light:hover {
  background-color: #fcfcfe;
}

.btn-secondary,
.btn-secondary.disabled,
.btn-secondary:focus {
  border: solid 1px #ccd3d4;
  background-color: #f1f3f8;
  color: #253843;
}

.btn-secondary:hover {
  border: 1px solid #ccd3d4;
  background-color: #fcfcfe;
}

.btn-ghost-secondary,
.btn-ghost-secondary.disabled,
.btn-ghost-secondary:hover,
.btn-ghost-secondary:focus {
  color: #4bba79;
}

.btn-ghost-secondary:hover {
  background-color: rgba(241, 243, 248, 0.5);
}
