.card {
  transition: .5s;

  &:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    .card-title {
      color: #4bba79;
    }

    .card-header-hover {
      display: flex;

      a:hover svg g {
        fill: #4bba79;
      }
    }
  }

  width: 322px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &-header {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;

    &-hover {
      display: none;

      a svg g {
        fill: #9aa7aa;
      }
    }
  }

  &-text {
    padding: 15px 0;
  }

  &-title {
    color: #253843;
  }

  td {
    padding: 3px 0;
  }

  td:last-child {
    color: #253843;
    padding-left: 12px;
  }
}
