.h2-collapse {
  font-size: 14px;
}

.h3-block-collapse {
  font-size: 12px;
  padding: 0.375rem 0.75rem;
}

.collapse-block {
  box-sizing: border-box;
  max-width: 758px;
  border-bottom: 1px solid rgba(189, 230, 240, 0.2);

  .btn:focus {
    box-shadow: none;
  }
}

.btn-collapse,
.h3-block,
.h2-block {
  height: 53px;

  &::before {
    content: "";
    height: 16px;
    width: 4px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #e92172;
  }

  .gray {
    color: #9aa7aa;
  }

  &[aria-expanded="true"] {
    border-bottom: none;
  }

  &[aria-expanded="false"] {
    .collapse-arrow {
      transform: rotate(180deg);
    }
  }
}

.h2-collapse-additional {
  &.btn-collapse::before {
    content: none;
  }
}

.h2-block {
  padding: 0.375rem 0.75rem;
}

.drop-files {
  gap: 14px 16px;
  margin-bottom: 12px;
}

.drop-file {
  color: #ccd3d4;
  border: 2px dashed #ccd3d4;
  width: 187px;
  height: 28px;
  font-size: 12px;
  border-radius: 4px;
}
