.dropdowns .dropdown {
  width: 200px;
}

.dropdown {
  &-menu {
    background-color: #fff;
  }

  .btn[aria-expanded="true"].dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }

  .btn-secondary:hover,
  .btn-secondary:focus {
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(75, 186, 121, 0.25), 0 0 2px 0 rgba(75, 186, 121, 0.15);
    border: solid 1px #4bba79;
  }
}
