.form-control {
  width: 200px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  display: block;
  background-image: url("../imgs/ic-file-deleted.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type="search"] {
  padding-left: 46px;
}

.form-group {
  width: 200px;
}

.search-img {
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0 12px 0 18px;

  svg {
    opacity: 0.5;
  }
}
