.navbar {
  box-shadow: 0 2px 8px 0 rgba(37, 56, 67, 0.1), 0 1px 2px 0 rgba(37, 56, 67, 0.05);

  &-brand--img {
    margin-right: 29.5px;
  }

  &-text {
    padding: 8px 14px;
    font-size: 10px;
  }

  .navbar-collapse > ul:last-of-type {
    li {
      margin-right: 30px;
    }

    &::after {
      content: "";
      height: 20px;
      width: 1px;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      opacity: 0.4;
      margin-right: 15px;
      background-color: #9aa7aa;
    }
  }

  svg g {
    fill: #9aa7aa;
  }

  .dropdown {
    .btn {
      width: max-content;

      &[aria-expanded="true"] {
        height: 77px;
        align-self: center;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        border-end-end-radius: 0;
        border-end-start-radius: 0;
      }
    }

    .dropdown-menu[data-bs-popper] {
      margin-top: 0;
    }

    .dropdown-menu.show {
      border: none;
      box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      li a:hover {
        svg g {
          fill: #fff;
        }
      }

      svg {
        opacity: 0.4;

        g {
          fill: #9aa7aa;
        }
      }
    }
  }

  .figure {
    margin: 0;
    &-img {
      width: 34px;
      height: 34px;
      margin-bottom: 0;
      margin-right: 12px;
    }

    &-caption {
      text-align: left;
    }

    .name {
      font-size: 14px;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #4bba79;
  padding: 25px;
  border-bottom: 4px solid transparent;

  @media (max-width: 1199px) {
    padding: 15px;
  }

  &:hover,
  &:focus {
    border-bottom: 4px solid #4bba79;
  }

  &--img {
    background-color: #9aa7aa;
  }
}
