.table {
  width: 1032px;

  thead tr {
    color: #9aa7aa;
    border-bottom: #9aa7aa;

    td:last-child {
      justify-content: space-between;
    }

    th:last-child {
      width: 18%;
    }

    th {
      padding-left: 18px;
    }
  }

  tbody tr > th {
    color: #4bba79;
  }

  tbody tr:nth-child(odd) > th {
    color: #4bba79;
  }

  a {
    padding: 15px 11px;
  }

  a g {
    fill: #9aa7aa;
  }

  a:hover {
    color: transparent;
    g {
      fill: #4bba79;
    }
  }

  tbody tr:nth-child(2n + 3) {
    background-color: #e4f5eb;
  }

  tbody tr:nth-child(2n) {
    background-color: #f1f3f8;
  }
}
