.nav-tabs {
  border-bottom: none;

  .nav-link {
    padding: 13px 25px;
    &:hover {
      border: none;
      border-bottom: 4px solid #4bba79;
    }
    &:active {
      border: none;
      border-bottom: 4px solid #4bba79;
    }
    &:visited {
      bottom: none;
    }
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
    .nav-link {
      padding: 5px 28px;
    }
  }
}

// .nav-tabs-sm {
//   font-size: 12px;

//   .nav-link {
//     padding: 5px 28px;

//     &:hover {
//       border: none;
//       border-bottom: 4px solid #4bba79;
//     }
//     &:active {
//       border: none;
//       border-bottom: 4px solid #4bba79;
//     }
//     &:visited {
//       bottom: none;
//     }
//   }
// }
