$font-family-base: "PT Sans", sans-serif;

$gray-100: #f1f3f8;
$btn-disabled-opacity: 0.5;
$secondary: #f1f3f8;

$link-color: #4bba79;
$link-hover-decoration: underline;
$link-decoration: none;

$pagination-color: #253843;
$pagination-bg: #f1f3f8;
$pagination-hover-color: #253843;
$pagination-hover-bg: #fcfcfe;

$pagination-focus-color: #253843;
$pagination-focus-bg: #fff;
$pagination-focus-box-shadow: inset 0 0 6px 0 rgba(74, 74, 74, 0.25);
$pagination-disabled-color: #253843;
$pagination-disabled-bg: #f1f3f8;
$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.5rem;

$input-font-size: 14px;
$input-disabled-bg: #f2f2f3;
$input-color: #253843;
$input-border-color: #ccd3d4;
$input-focus-border-color: #4bba79;
$input-focus-box-shadow: 0 0 8px 0 rgba(75, 186, 121, 0.25), 0 0 2px 0 rgba(75, 186, 121, 0.15);
$input-placeholder-color: #9aa7aa;

$input-group-addon-bg: #fff;

$dropdown-padding-y: 0;
$dropdown-color: #253843;
$dropdown-bg: #f1f3f8;
$dropdown-border-color: #ccd3d4;
$dropdown-link-color: #253843;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #4bba79;
$dropdown-divider-bg: none;
$dropdown-box-shadow: 0 0 8px 0 rgba(75, 186, 121, 0.25), 0 0 2px 0 rgba(75, 186, 121, 0.15);
$dropdown-link-active-color: #253843;
$dropdown-link-active-bg: #fff;
$dropdown-item-padding-y: 11px;
$dropdown-item-padding-x: 18px;
$dropdown-border-radius: 4px;
$dropdown-inner-border-radius: 0;

$nav-link-hover-color: #253843;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: #253843;

$tooltip-bg: #253843;
$tooltip-border-radius: 4px;
$tooltip-opacity: 0.9 !default;
$tooltip-padding-x: 11px;

$table-cell-padding-y: 11px;
$table-cell-padding-x: 18px;
$table-border-color: #f1f3f8;
$table-group-separator-color: #9aa7aa;

$border-radius: 4px;
$navbar-brand-padding-y: 23px;
$navbar-brand-height: 34px;
$navbar-light-color: #9aa7aa;

$small-font-size: 12px;
$caret-spacing: 24px;

$card-color: #9aa7aa;
$card-cap-bg: #fff;
$card-cap-color: #9aa7aa;
$card-border-radius: 8px;
$card-spacer-x: 30px;
// $card-box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);

@import "../node_modules/bootstrap/scss/bootstrap";
