@import "./custom.scss";
@import "./blocks/buttons.scss";
@import "./blocks/links.scss";
@import "./blocks/pagination.scss";
@import "./blocks/inputs.scss";
@import "./blocks/dropdowns.scss";
@import "./blocks/tabs.scss";
@import "./blocks/badges.scss";
@import "./blocks/table.scss";
@import "./blocks/navbar.scss";
@import "./blocks/card.scss";
@import "./blocks/collapse-blocks.scss";

html {
  font-size: 14px;
}

.bg-dark-secondary {
  background-color: #9aa7aa;
}

.mr {
  margin-right: 12px;
}

h2,
h3 {
  margin: 0;
}
